PORT=3000
NODE_ENV=development

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/t2_api?schema=public
MONGO_URI=mongodb://localhost:27017/t2_api

JWT_SECRET=troque_esta_chave_em_producao
JWT_EXPIRES_IN=1h
BCRYPT_SALT_ROUNDS=10
